reshaping structurely weak regions to the format that fits our dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('20191029_Master_GRW-Fördergebiet 2014-2020 (Kreise Status).xlsx')

### preliminary cleaning

In [3]:
df.shape

(405, 183)

In [4]:
df.head()

,"GRW-Fördergebiet 2014-2020 (Kreise, Status)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kreiskennziffer,Regionalschlüssel,Kreis,Bundesland,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001,01001,"Flensburg, Kreisfreie Stadt",SH,C,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1002,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",SH,C/D,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.drop([0, 1])
df.head(2)

,"GRW-Fördergebiet 2014-2020 (Kreise, Status)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182
2,Kreiskennziffer,Regionalschlüssel,Kreis,Bundesland,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001,01001,"Flensburg, Kreisfreie Stadt",SH,C,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns = df.loc[2]
df = df.drop([2])
df.head(2)

2,Kreiskennziffer,Regionalschlüssel,Kreis,Bundesland,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001,01001,"Flensburg, Kreisfreie Stadt",SH,C,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1002,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",SH,C/D,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
list(df.columns)

['Kreiskennziffer',
 'Regionalschlüssel',
 'Kreis',
 'Bundesland',
 'Foerdergebietsstatus',
 'C-Gebiet (=1)',
 'D-Gebiet (=1)',
 'teilw. C, teilw. D',
 'teilw. C, teilw. N',
 'teilw. D, teilw. N',
 'N-Gebiet (=1)',
 'Fördergebiet (Ja=1; Nein=0)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [8]:
df.isna().sum()

2
Kreiskennziffer           1
Regionalschlüssel         1
Kreis                     1
Bundesland                1
Foerdergebietsstatus      0
                       ...
NaN                     402
NaN                     402
NaN                     402
NaN                     402
NaN                     402
Length: 183, dtype: int64

In [9]:
df = df.drop([404])

In [10]:
df.isna().sum()

2
Kreiskennziffer           0
Regionalschlüssel         0
Kreis                     0
Bundesland                0
Foerdergebietsstatus      0
                       ...
NaN                     401
NaN                     401
NaN                     401
NaN                     401
NaN                     401
Length: 183, dtype: int64

In [11]:
df = df.dropna(axis='columns')
df.head(2)

2,Kreiskennziffer,Regionalschlüssel,Kreis,Bundesland,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",N-Gebiet (=1),Fördergebiet (Ja=1; Nein=0)
3,1001,01001,"Flensburg, Kreisfreie Stadt",SH,C,1,0,0,0,0,0,1
4,1002,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",SH,C/D,0,0,1,0,0,0,1

In [12]:
df = df.reset_index(drop=True)
df.head(2)

2,Kreiskennziffer,Regionalschlüssel,Kreis,Bundesland,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",N-Gebiet (=1),Fördergebiet (Ja=1; Nein=0)
0,1001,01001,"Flensburg, Kreisfreie Stadt",SH,C,1,0,0,0,0,0,1
1,1002,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",SH,C/D,0,0,1,0,0,0,1

### reshaping

In [13]:
df = df.drop(columns=['Kreiskennziffer', 'Kreis', 'Bundesland'])
df.head()

2,Regionalschlüssel,Foerdergebietsstatus,C-Gebiet (=1),D-Gebiet (=1),"teilw. C, teilw. D","teilw. C, teilw. N","teilw. D, teilw. N",N-Gebiet (=1),Fördergebiet (Ja=1; Nein=0)
0,01001,C,1,0,0,0,0,0,1
1,01002,C/D,0,0,1,0,0,0,1
2,01003,C/D,0,0,1,0,0,0,1
3,01004,D,0,1,0,0,0,0,1
4,01051,C,1,0,0,0,0,0,1

In [14]:
df[['N-Gebiet (=1)', 'Fördergebiet (Ja=1; Nein=0)']][:20]

2  N-Gebiet (=1) Fördergebiet (Ja=1; Nein=0)
0              0                           1
1              0                           1
2              0                           1
3              0                           1
4              0                           1
5              0                           1
6              0                           1
7              0                           1
8              0                           1
9              0                           1
10             0                           1
11             0                           1
12             1                           0
13             0                           1
14             1                           0
15             1                           0
16             1                           0
17             1                           0
18             1                           0
19             1                           0

ok, so "N-Gebiet" means not eligible for funding support.

In [15]:
df[['Foerdergebietsstatus', 'Fördergebiet (Ja=1; Nein=0)']][:10]

2 Foerdergebietsstatus Fördergebiet (Ja=1; Nein=0)
0                    C                           1
1                  C/D                           1
2                  C/D                           1
3                    D                           1
4                    C                           1
5                    D                           1
6                    C                           1
7                    C                           1
8                  C/N                           1
9                    D                           1

but if you are between "C/N" or "D/N" you are still count as eligible.

so there are three levels, "C", "D", and "N". The category of each kreis can be a single letter or a combination of two letters. Either way, only the status of pure "N" is coded as not eligible for support (Fördergebiet, nein=0).

In [16]:
df = df[['Regionalschlüssel', 'Foerdergebietsstatus', 'Fördergebiet (Ja=1; Nein=0)']]
df.head(3)

2 Regionalschlüssel Foerdergebietsstatus Fördergebiet (Ja=1; Nein=0)
0             01001                    C                           1
1             01002                  C/D                           1
2             01003                  C/D                           1

In [18]:
df = df.rename(columns={'Regionalschlüssel': 'ags5', 
                       'Foerdergebietsstatus': 'support_area_status',
                       'Fördergebiet (Ja=1; Nein=0)': 'eligible_area'})
df.head(3)

2   ags5 support_area_status eligible_area
0  01001                   C             1
1  01002                 C/D             1
2  01003                 C/D             1

In [19]:
df.to_csv('../final_dfs/funding_eligibility.csv')

![GRW-fordergebiete](GRW-fordergebiete.png)